language = "python3"
run = "python app.py"
modules = ["python-3.10:v25-20230920-d4ad2e4"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 35749
externalPort = 3003

[[ports]]
localPort = 36277
externalPort = 4200

[[ports]]
localPort = 37277
externalPort = 3000

[[ports]]
localPort = 39009
externalPort = 3001

[[ports]]
localPort = 43551
externalPort = 3002
