<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pizza Hub</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>

  <body>
    {% include 'navbar.html' %}
    <div class="container">
      <h1 class="text-center mt-2 mb-4">Pizza Hub</h1>
      
      {% include 'banner.html' %}
      
      <h2 class="text-center mt-2 mb-4">About Pizza Hub</h2>
      <p class="lead">
        Welcome to Pizza Hub, where your pizza cravings meet their perfect match! At Pizza Hub, we believe that a great pizza is more than just a meal—it's an experience. Our mission is to provide a warm and inviting space for pizza lovers to come together and enjoy the flavors of their favorite toppings.
      </p>

      <h2 class="text-center mt-2 mb-4">Our Story</h2>
      <p class="lead">
        Founded with a passion for creating the ultimate pizza experience, Pizza Hub has been serving mouth-watering pizzas to our community since [Year]. Our journey began with a simple goal: to craft the best pizza using only the finest ingredients and traditional recipes. Today, we continue to uphold that commitment, bringing joy to pizza lovers everywhere.
      </p>
      <h2 class="text-center mt-2 mb-4">Our Pizzas</h2>
      <p class="lead">
        Each pizza at Pizza Hub is a masterpiece, made with love and an unwavering dedication to quality. Our dough is freshly prepared daily, our sauces are crafted from vine-ripened tomatoes, and our toppings are sourced from the best suppliers. Whether you're a fan of classic Margherita, crave the bold flavors of our Spicy Pepperoni, or prefer a veggie delight, we have something to satisfy every palate.
      </p>


      <h2 class="text-center mt-2 mb-4">Available Restaurants</h2>
      <div>
        {% for restaurant in restaurants %}
          {% include 'restaurants.html' %}
        {% endfor %}
      </div>

      <div class="text-center">
        <button class="btn btn-primary btn-lg">Contact Us</button>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>